body{
  margin: 0;  
  padding: 0;
}

.Header{
    background-color: rgb(197, 197, 215);
    display : flex;
    justify-content: space-between;
    padding: 5px;
}

.Header ul {
    display: flex;
    list-style-type: none;
    margin: 30px;
    justify-content: center;
    gap: 20px; /* 👈 Adds 20px of space between each li item */
}
    

